// {{{ variables

:root
  var-content-background: url(/images/texture.jpg)
  var-display-font: 'League Gothic', serif
  var-content-font: 'Courier', monospace
  var-icon-eagle: url(/images/eagle.svg) no-repeat

  var-navbar-background: #2b2b2c
  var-navbar-color: #fff

  var-banner-animation-function: cubic-bezier(0.770, 0.010, 0.120, 0.995)
  var-banner-text-background: rgba(255, 255, 255, 0.9)
  var-banner-text-roll-background: rgba(204, 204, 204, 0.9)

  var-message-error-color: #fff
  var-message-error-background: rgba(209, 58, 52, 0.82)

  var-flavors-background: url(/images/trees.jpg) no-repeat

  // #de9d53
  var-responsibility-background: rgba(222, 157, 83, 0.8)

// variables }}}
// {{{ base

*
  box-sizing: border-box

body
  background: var(content-background)
  font-family: var(content-font)
  color: #333
  padding-top: 3em

.browsehappy
  background: #ccc
  color: #000
  margin: 0.2em 0
  padding: 0.2em 0

.icon
  display: inline-block

.eagle
  background: var(icon-eagle)
  display: block
  margin: 0 auto
  height: 135px
  width: 149px

.msg
  display: block
  padding: 1.333em 0.666em

.msg-error
  color: var(message-error-color)
  background: var(message-error-background)

.btn
  -webkit-appearance: none
  display: inline-block
  border: 0
  background: var(banner-text-background)
  padding: 0.333em 0.66em
  margin: 0 0.1666em
  &:focus,
  &:hover
    background: var(banner-text-roll-background)

// base }}}
// {{{ navbar

.navbar
  position: fixed
  left: 0
  right: 0
  top: 0
  background: var(navbar-background)
  padding: 0.5em
  text-align: right
  vertical-align: middle
  z-index: 10

.navbar-item
  color: var(navbar-color)
  display: inline-block
  margin: 0.5em
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle

.navbar-icon
  background: url(/images/sprite.png) no-repeat
  display: inline-block
  margin: 0.16666em
  height: 23px
  width: 23px
  vertical-align: middle

.navbar-icon-logo
  background-position: -4px 0
  float: left
  margin: -0.25em 0.25em 0
  width: 60px
  height: 44px

.navbar-icon-twitter
  background-position: -63px -13px

.navbar-icon-instagram
  background-position: -87px -13px

.navbar-icon-facebook
  background-position: -111px -13px

@media screen and (max-width: 425px)
  .navbar-item
    display: none

// navbar }}}
// {{{ banner

#banner
  height: 50em
  height: 100vh
  position: relative
  overflow: hidden

.slide-text
  font-family: var(display-font)
  margin: 0
  position: absolute
  top: 30%
  left: 5%
  z-index: 1

.slide-line-1,
.slide-line-2-1,
.slide-line-2-2,
.slide-line-3-1
  background: rgba(255, 255, 255, 0.9)
  color: #000
  display: inline-block
  font-size: 6em
  margin: 0.0888em 0
  padding: 0 10px
  text-transform: uppercase

.slide-line-1
  font-size: 4em

.slide-image
  position: absolute
  top: 0
  min-height: 100%
  min-width: 100%

.slide-line-2-2
  transform-origin: 50% 50% 57.5px
  transform-style: preserve-3d
  animation-duration: 12s
  animation-iteration-count: infinite
  animation-name: text-flip
  animation-timing-function: var(banner-animation-function)
  perspective: 1200
  position: absolute

.slide-line-2-2:nth-child(5)
  animation-delay: -9s
  transform: translateZ(115px) rotateX(90deg)

.slide-line-2-2:nth-child(6)
  animation-delay: -6s
  transform: translateZ(115px) rotateX(90deg)

.slide-line-2-2:nth-child(7)
  animation-delay: -3s
  transform: translateZ(115px) rotateX(90deg)

.slide-line-3-1
  position: absolute
  top: 4.25em
  width: 300%
  font-size: 3em
  margin: 0.16666em 0
  left: 0
  animation-duration: 12s
  animation-iteration-count: infinite
  animation-name: the-people
  animation-delay: -13s

@keyframes the-people
  0%
    opacity: 0
  65%
    opacity: 0
    transform: translateY(1em)
  75%
    opacity: 1
    transform: translateY(0em)
  97.5%
    opacity: 1
    transform: translateY(0em)
  100%
    opacity: 0
    transform: translateY(1em)



@keyframes text-flip
  0%
    background: var(banner-text-background)
    transform: translateZ(115px) rotateX(0deg)
  25%
    background: var(banner-text-roll-background)
    transform: translateZ(115px) rotateX(-90deg)
  25.01%
    background: var(banner-text-roll-background)
    transform: translateZ(115px) rotateX(90deg)
  75%
    background: var(banner-text-roll-background)
    transform: translateZ(115px) rotateX(90deg)
  100%
    background: var(banner-text-background)
    transform: translateZ(115px) rotateX(0deg)

.slide-image
  animation-direction: alternate
  animation-duration: 12s
  animation-iteration-count: infinite
  animation-name: image-fade
  animation-timing-function: var(banner-animation-function)

.slide-image:nth-child(3)
  animation-delay: -9s
  opacity: 0

.slide-image:nth-child(4)
  animation-delay: -6s
  opacity: 0

.slide-image:nth-child(5)
  animation-delay: -3s
  opacity: 0

@keyframes image-fade
  0%
    opacity: 1
  25%
    opacity: 0
  50%
    opacity: 0
  100%
    opacity: 1

@media screen and (max-width: 500px)
  .slide-text
    left: -5%
    top: 20%
    transform: scale(0.5)

// banner }}}
// {{{ responsibility

.age-not-verified
  overflow: hidden

#how-old-you-be
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-image: url(/images/trees.jpg)
  background-size: cover
  z-index: 100
  text-align: center
  padding: 3em 0
  p
    background: var(banner-text-background)
    margin: 1.5em auto
    max-width: 22em
    padding: 1.333em 0.666em
    width: 50%
  p, .btn
    position: relative
    z-index: 10

  .msg-error
    color: var(message-error-color)
    background: var(message-error-background)

  .age-product-image
    position: absolute
    bottom: -20%
    left: -10%
    transform: rotate(-22.5deg)
    z-index: 0

@media screen and (max-width: 500px)
  //#how-old-you-be
  .age-product-image
    display: none


// responsibility }}}
// {{{ flavors

#flavors
  position: relative
  padding: 3em 5%

.flavors-background
  background: var(flavors-background)
  background-size: cover
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.tabs
  position: relative
  z-index: 1

.tab-contents
  background: var(banner-text-roll-background)
  padding: 0.75em 1.5em
  width: 50%

  h1, h2
    color: #000
    font-family: var(display-font)
    font-size: 3em
    text-transform: uppercase

@media screen and (min-width: 625px)
  .tab-link
    background: var(banner-text-roll-background)
    color: #000
    display: inline-block
    font-family: var(display-font)
    font-size: 3em
    margin-right: 0.16666em
    margin-bottom: 0.16666em
    padding: 0.16666em 0.3333em
    text-decoration: none
    text-transform: uppercase
    &.tab--is-active
      background: var(responsibility-background)
      color: #000

  .tab-contents
    opacity: 0
    position: absolute
    top: 5em
    transition: opacity 0.3s ease-in

  .tab--is-active
    .tab-contents
      opacity: 1

  .tab--is-inactive
    .product-image
      transform: scale(0.8)
      opacity: 0.5

  .product-image
    opacity: 0.9
    position: absolute
    top: 5%
    width: 22.5%
    transition: all 0.3s ease-in

  .product-apple-pie
    left: 57%
  .product-carolina-clear
    left: 79%

@media screen and (max-width: 873px)
  .tab-link
    font-size: 2em
  .tab-contents
    h1, h2
      font-size: 2em
  .tab-contents
    top: 3.5em

@media screen and (min-width: 501px)
  .tab-contents
    h1, h2
      border-bottom: 4px solid #000
      margin: 0 0.75em 0 -0.75em
      padding-left: 0.75em

@media screen and (min-width: 501px) and (max-width: 625px)
  .tab-link,
  .tab-intro
    display: none

  .product-image
    max-width: 40%

  .tab
    position: relative

  .tab-contents
    right: 0
    position: absolute
    top: 4.5em

@media screen and (max-width: 500px)
  .tab-link,
  .tab-intro,
  .flavors-background
    display: none

  #flavors
    background: #fff
    overflow: hidden
    padding: 0
    text-align: center

  .product-image
    margin: 1.5em auto
    max-width: 40%

  .tab-contents
    background: var(flavors-background) top right
    padding: 1.5em
    width: 100%
    h1, h2
      font-size: 3em
      margin: 0


// flavors }}}
// {{{ find greatness

.info-window
  height: 80px

.info-address,
.location-address
  display: block

.info-store
  margin-top: 0

#greatness
  position: relative
  z-index: 5
  h1
    position: absolute
    left: 5%
    top: 0.5em
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    display: inline-block;
    font-family: 'League Gothic', serif
    font-size: 4em;
    font-weight: normal;
    margin: 0.0888em 0;
    padding: 0 10px;
    text-transform: uppercase;

#map-canvas
  display: inline-block
  height: 100%
  width: 75%

#map-locations
  display: inline-block
  width: 25%

  input
    padding: 0.5em 1.5em 0.5em 0.333em
    width: 100%

#location-results-count
  position: absolute
  top: 0.825em
  right: 0.5em
  font-size: 0.75em
  .count
    color: #666
    &:after
      content: ' / '
  .total
    color: #aaa

#map-locations-list
  overflow-y: scroll
  background: rgba(222, 157, 83, 0.4)

.location
  font-size: 0.91666em
  padding: 0.5em
  border-top: 1px solid rgb(222, 157, 83)

  &:nth-child(odd)
    background: rgba(222, 157, 83, 0.6)

  h3
    margin-top: 0

.location--isActive
  background: rgb(222, 157, 83)

@media screen and (max-width: 500px)
  #map-canvas
    width: 100%

// find greatness }}}
// {{{ responsibility

#responsibility
  background: var(responsibility-background)
  padding: 3em 0
  text-align: center

  p
    font-size: 1.16666em
    span
      color: #000
      display: block
      font-family: var(display-font)
      font-size: 4em
      text-transform: uppercase

@media screen and (max-width: 500px)
  #responsibility
    padding: 3em 1.5em
    p
      span
        font-size: 2em
        margin-top: 0.5em

// responsibility }}}
// {{{ footer

#footer
  background: rgba(0, 0, 0, 0.825)
  border-top: 3px solid rgab(0, 0, 0, 0.9)
  padding: 0.5em
  text-align: center

  a
    color: #fcfcfc

.footer-text
  color: #fcfcfc
  display: inline-block
  padding-right: 0.5em
  margin-right: 0.5em
  border-right: 1px solid #fcfcfc

// footer }}}

