// {{{ variables

:root
  var-content-background: #fefefe
  var-content-font: "Helvetica Neue", Helvetica, Arial, sans-serif

  var-navbar-background: #2b2b2c
  var-navbar-color: #fff

// variables }}}
// {{{ base

body
  background: var(content-background)
  font-family: var(content-font)
  color: #333
  padding-top: 3em

.browsehappy
  background: #ccc
  color: #000
  margin: 0.2em 0
  padding: 0.2em 0

// base }}}
// {{{ navbar

.navbar
  position: fixed
  left: 0
  right: 0
  top: 0
  background: var(navbar-background)
  padding: 0.5em
  text-align: right
  vertical-align: middle
  z-index: 10

.navbar-item
  color: var(navbar-color)
  display: inline-block
  margin: 0.5em
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle

.navbar-icon
  background: url(/images/sprite.png) no-repeat
  display: inline-block
  margin: 0.16666em
  height: 23px
  width: 23px
  vertical-align: middle

.navbar-icon-logo
  background-position: -4px 0
  float: left
  margin: -0.25em 0.25em 0
  width: 60px
  height: 44px

.navbar-icon-twitter
  background-position: -63px -13px

.navbar-icon-instagram
  background-position: -87px -13px

.navbar-icon-facebook
  background-position: -111px -13px

// navbar }}}
// {{{ banner

#banner
  height: 100vh
  position: relative
  overflow: hidden

.slide-text
  font-family: 'League Gothic', serif
  position: absolute
  top: 35%
  left: 5%
  z-index: 1

.slide-line-1,
.slide-line-2-1,
.slide-line-2-2
  background: rgba(255, 255, 255, 0.9)
  color: #000
  display: inline-block
  font-size: 6em
  margin: 0.0888em 0
  padding: 0 10px
  text-transform: uppercase

.slide-line-1
  font-size: 4em

.slide-image
  position: absolute
  top: 0
  height: 100%

.slide-line-2-2
  transform-origin: 50% 50% 57.5px
  transform-style: preserve-3d
  animation-duration: 6s
  animation-iteration-count: infinite
  animation-name: text-flip
  perspective: 1200
  position: absolute

.slide-line-2-2:nth-child(5)
  animation-delay: -4s
  transform: translateZ(115px) rotateX(90deg)

.slide-line-2-2:nth-child(6)
  animation-delay: -2s
  transform: translateZ(115px) rotateX(90deg)

@keyframes text-flip
  0%
    transform: translateZ(115px) rotateX(0deg)
  33.33%
    transform: translateZ(115px) rotateX(-90deg)
  33.44%
    transform: translateZ(115px) rotateX(90deg)
  66.66%
    transform: translateZ(115px) rotateX(90deg)
  100%
    transform: translateZ(115px) rotateX(0deg)

.slide-image
  animation-direction: alternate
  animation-duration: 6s
  animation-iteration-count: infinite
  animation-name: image-fade

.slide-image:nth-child(3)
  animation-delay: 2s
  opacity: 0

.slide-image:nth-child(4)
  animation-delay: 4s
  opacity: 0

@keyframes image-fade
  0%
    opacity: 1
  33.33%
    opacity: 0
  66.66%
    opacity: 0
  100%
    opacity: 1

// banner }}}
// {{{ footer

#footer
  background: rgba(0, 0, 0, 0.8)
  border-top: 3px solid rgab(0, 0, 0, 0.9)
  padding: 0.5em
  text-align: center
.footer-text
  display: inline-block
  padding-right: 0.5em
  margin-right: 0.5em
  border-right: 1px solid #fefefe




// footer }}}

