:root
  var-content-background: #fefefe
  var-content-font: "Helvetica Neue", Helvetica, Arial, sans-serif

  var-navbar-background: #2b2b2c
  var-navbar-color: #fff

body
  background: var(content-background)
  font-family: var(content-font)
  color: #333

// {{{ navbar

.navbar
  position: fixed
  left: 0
  right: 0
  top: 0
  background: var(navbar-background)
  padding: 0.5em
  text-align: right
  vertical-align: middle

.navbar-item
  color: var(navbar-color)
  display: inline-block
  margin: 0.5em
  text-decoration: none
  text-transform: uppercase
  vertical-align: middle

.navbar-icon
  background: url(/images/sprite.png) no-repeat
  display: inline-block
  margin: 0.16666em
  height: 23px
  width: 23px
  vertical-align: middle

.navbar-icon-logo
  background-position: -4px 0
  float: left
  margin: -0.25em 0.25em 0
  width: 60px
  height: 44px

.navbar-icon-twitter
  background-position: -63px -13px

.navbar-icon-instagram
  background-position: -87px -13px

.navbar-icon-facebook
  background-position: -111px -13px

// navbar }}}

.hero-unit
  margin: 50px auto 0 auto
  width: 300px
  font-size: 18px
  font-weight: 200
  line-height: 30px
  background-color: #eee
  border-radius: 6px
  padding: 60px

  h1
    font-size: 60px
    line-height: 1
    letter-spacing: -1px

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0
