!!!
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Great America
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="bower_components/league-gothic/webfonts/stylesheet.css")
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
    // build:js scripts/vendor/modernizr.js
    <script src="bower_components/modernizr/modernizr.js"></script>
    // endbuild
  body
    //[if lt IE 10]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    .navbar
      i.navbar-icon.navbar-icon-logo(aria-label='Great America')
      a(href='#flavors').navbar-item Flavors
      a(href='#greatness').navbar-item Find Greatness
      a(href='https://www.twitter.com/greatamerica', aria-label='Twitter').navbar-icon.navbar-icon-twitter
      a(href='https://www.instagram.com/greatamerica', aria-label='Instagram').navbar-icon.navbar-icon-instagram
      a(href='https://www.facebook.com/greatamerica', aria-label='Facebook').navbar-icon.navbar-icon-facebook

    section#banner
      p.slide-text
        span.slide-line-1 Here&rsquo;s to
        br
        span.slide-line-2-1 great
        span.slide-line-2-2 times
        span.slide-line-2-2 music
        span.slide-line-2-2 people
      img.slide-image(src='/images/banner-times.jpg')
      img.slide-image(src='/images/banner-music.jpg')
      img.slide-image(src='/images/banner-people.jpg')

    section#flavors
    section#greatness
    section#responsibility
      span.eagle
      p Please remember to always <span>think and drink responsibly</span>

    footer#footer
      p.footer-text Copyright &copy; Great America. All rights reserved.
      p.footer-text: a(href='mailto:info@drinkgreatamerica.com') Contact Us
      a(href='https://www.twitter.com/greatamerica', aria-label='Twitter').navbar-icon.navbar-icon-twitter
      a(href='https://www.instagram.com/greatamerica', aria-label='Instagram').navbar-icon.navbar-icon-instagram
      a(href='https://www.facebook.com/greatamerica', aria-label='Facebook').navbar-icon.navbar-icon-facebook


    // build:js scripts/vendor.js
    // bower:js
    script(src="bower_components/jquery/jquery.js")
    // endbower
    // endbuild

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/main.js
    script(src="scripts/main.js")
    // endbuild
